@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@300;400;500;700&display=swap");

:root{
  --bg-body: rgb(245, 247, 255);
  --primary-color: rgb(42, 51, 65);
  --primary-hover-color: rgb(158, 161, 166);
  --scrollbar-color: rgba(131, 135, 193, 0.4);
  --card-bg-color: rgba(230, 231, 247, 0.1);
  --pop-bg-color: rgb(245, 247, 255, 0.9);
  --star-color: #ddcc14;
  --border-color: rgba(131, 135, 193, 0.4);
  --shadow-color: rgba(0, 0, 0, 0.05);
  --accent-color: rgb(194, 33, 105);
}

.darkmode {
    --bg-body: rgb(6, 5, 40);
    --primary-color: rgb(248, 248, 248);
    --primary-hover-color: rgb(159, 159, 159);
    --scrollbar-color: rgba(44, 49, 88, 0.7);
    --card-bg-color: rgb(24, 26, 50);
    --star-color: #a1d31a;
    --border-color: rgba(189, 192, 234, 0.4);
    --shadow-color: rgba(208, 195, 226, 0.13);
    --accent-color: rgb(185, 129, 250);
  }
  
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

nav {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
  }
  
  ul,
  ul li {
    outline: 0;
    list-style: none;
  }
  
  ul li a {
    text-decoration: none;
  }
  
  img {
    width: 100%;
  }
  
  h1 {
    font-size: clamp(1rem, 4vw, 1.2rem);
  }
  
  h2 {
    font-size: clamp(0.9rem, 4vw, 1rem);
  }

  body{
    position: relative;
    background: var(--bg-body);
    overflow: hidden;
  }

  /*main menu*/

  .main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 12px 0 10px;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid var(--border-color);
    overflow: hidden;
    font-family: inherit;
  }

  .user-info img {
    max-width: 160px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    padding: 20px;
  }

  .user-info p {
    color: var(--primary-color);
    font-size: clamp(0.8rem, 3vw, 1rem);
    font-weight: 500;
    text-align: center;
    line-height: 1.3;
    margin: -15px 0 30px;
  }
  
  .nav-item {
    display: block;
  }
  
  .nav-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 1rem;
    padding: 12px 0;
    margin: 0 8px;
    border-radius: 5px;
  }

  .nav-item.active a {
    background: rgba(106, 109, 155, 0.4);
    text-decoration: none;
    box-shadow: 0px 1px 4px var(--shadow-color);
  }
  
  .nav-icon {
    width: 40px;
    height: 20px;
    font-size: 1.1rem;
  }
  
  .nav-text {
    display: block;
    width: 70px;
    height: 20px;
    letter-spacing: 0;
  }

  /*CONTENT*/

  .content {
    position: absolute;
    top: 0;
    left: 180px;
    right: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 75% 25%;
  }

  .card{
    background-color: var(--card-bg-color);
    border-radius: 8px;
    border: 2px solid rgb(169, 150, 253, 0.5);
    box-shadow:  0px 4px 5px 0px var(--shadow-color),
    0px 1px 8px 0px var(--shadow-color),
    0px 2px 4px -1px var(--shadow-color);
  }

  /* LEFT CONTENT */

.left-content {
    padding: 25px 20px 40px;
    color: var(--primary-color);
    height: 100vh;
    overflow: auto;
  }
  
  /* SEARCH */
  
  .search-box {
    position: relative;
    display: flex;
  }

  .search-box input {
    width: 80%;
    height: 40px;
    background: var(--card-bg-color);
    color: var(--primary-color);
    outline: 2px solid var(--border-color);
    border: 0;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.6px;
    padding: 8px 30px 8px 15px;
    margin: 0 auto;
  }
  
  .search-box input[type="text"]::placeholder {
    color: var(--primary-color);
    opacity: 0.5;
    font-weight: 400;
  }
  
  .search-box i {
    position: absolute;
    right: 11%;
    top: 25%;
    font-size: 1.3rem;
    color: var(--primary-color);
    cursor: pointer;
  }
  